{% extends 'base_templates/base.html' %}
{% block title %}Статус активности{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-5">Статус активности рассылки{{ mailing.id }}</h1>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ object.pk }}"/>
            <button type="submit" class="btn btn-lg btn-block btn-outline-danger mt-3 mb-1">
                {% if object.is_active %}
                    Заблокировать рассылку
                {% else %}
                    Разблокировать рассылку
                {% endif %}
            </button>
        </form>
    </div>
{% endblock %}