{% extends 'base_templates/base.html' %}
{% block title %}Сообщения{% endblock %}

{% block content %}
    <div class="px-1 py-1 pt-md-1 pb-md-1 mx-auto text-center">
        {% if user.is_superuser or perms.sending.can_view_message %}
            <h3 class="px-1 py-1 pt-md-1 pb-md-1 mx-auto text-center">Полный список сообщений</h3>
        {% else %}
            <h3 class="px-1 py-1 pt-md-1 pb-md-1 mx-auto text-center">Список Ваших сообщений</h3>
        {% endif %}
    </div>
    <div class="container mt-1">
        <div class="mt-1 d-flex justify-content-between align-items-center">
            <a href="{% url 'sending:message_create' %}" class="btn btn-sm btn-outline-primary mt-1 mb-1">Создать новое
                сообщение</a>
        </div>
        <div class="px-1 py-1 pt-md-1 pb-md-1 mx-auto text-center">
            <h3>Всего создано {{ messages_count }} сообщени(е/я/й).</h3>
        </div>
        <div class="container mt-1 mb-1">
            <div class="card w-100">
                {% for message in messages %}
                    <ul class="list-group list-group-flush">
                        <a class="card-link" href="{% url 'sending:message_detail' message.id %}">
                            <li class="list-group-item">{{ message }}</li>
                        </a>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
