{% extends 'base_templates/base.html' %}
{% block title %}Ручная рассылка сообщения{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-5">Разослать сообщение сейчас? {{ message.subject }}</h1>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ object.pk }}"/>
            <button type="submit" class="btn btn-lg btn-block btn-outline-danger mt-3 mb-1">Разослать сейчас</button>
        </form>
    </div>
{% endblock %}